<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/mysql?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">password</property>
    <property name="hibernate.default_schema">test</property>
    <property name="hbm2ddl.auto">create-drop</property>
    
    <mapping class="ca.uw.myapp.Object.Address"/>
    <mapping class="ca.uw.myapp.Object.Appointment"/>
    <mapping class="ca.uw.myapp.Object.DoctorPatient"/>
    <mapping class="ca.uw.myapp.Object.DoctorStaff"/>
    <mapping class="ca.uw.myapp.Object.Patient"/>
    <mapping class="ca.uw.myapp.Object.Prescription"/>
    <mapping class="ca.uw.myapp.Object.Staff"/>
    <mapping class="ca.uw.myapp.Object.User"/>
    <mapping class="ca.uw.myapp.Object.VisitPrescription"/>
    <mapping class="ca.uw.myapp.Object.VisitationRecord"/>
    
        
    
    
     <!-- Disable second level cache 
     <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property> -->
  </session-factory>
</hibernate-configuration>
